.billing-switch-checkbox {
  display: none;
}

.billing-switch-slider {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
  position: relative;
}

.billing-switch-slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: transform 0.3s;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.billing-switch-checkbox:checked ~ .billing-switch-slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
}

.billing-switch-checkbox:checked ~ .billing-switch-slider {
  background-color: #87c508;
}

.billing-switch-checkbox:active ~ .billing-switch-slider::before {
  transform: translateX(0);
}

